<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.company.dao.FriendMapper">
    <resultMap id="friendsResult" type="com.company.domain.Friend">
        <id column="fid" property="id"/>

        <result column="date" property="date"/>
        <result column="remark" property="remark"/>
        <association property="friend" column="friendId" javaType="com.company.domain.User">
            <id column="id1" property="id"/>
            <result column="username1" property="username"/>
            <result column="image_url1" property="imageUrl"/>
            <result column="phone1" property="phone"/>
        </association>
        <association property="user" column="userId" javaType="com.company.domain.User">
            <id column="id2" property="id"/>
            <result column="username2" property="username"/>
            <result column="image_url2" property="imageUrl"/>
            <result column="phone2" property="phone"/>
        </association>
    </resultMap>

    <select id="getAllFriend" resultMap="friendsResult">
        SELECT
            f.id AS fid,
            friendId,
            remark,
            date,
            u.id AS id1,
            u.username username1,
            u.image_url image_url1,
            u.phone phone1,
            u1.id AS id2

        FROM
            friends f,
            `user` u,
            `user` u1
        WHERE
            f.friendId = u.id
            AND f.userId = u1.id
            AND userId = #{uid}

    </select>

    <select id="getFriendDetail" resultMap="friendsResult">
        select  remark, f.date, u.id AS id1, u.username username1,u.image_url image_url1,u.phone phone1
        from friends f,
            `user` u
        where f.friendId = u.id
            AND friendId = #{friendId}
    </select>
    <select id="getFriend" resultType="com.company.domain.User">
        select   id ,username ,image_url imageUrl
        from `user` u
        where u.id = #{to}
    </select>
    <insert id="insertFriend">
        INSERT INTO friends(friendId,date,remark,userId)
        VALUES(#{friend.id},now(),#{remark},#{user.id}), (#{user.id},now(),#{remark},#{friend.id});
    </insert>
    <delete id="deleteFriend">
        delete
        from friends
        where (friendId = #{friendId} and userId = #{uid}) or (friendId = #{uid} and userId = #{friendId});

    </delete>

    <update id="updateRemark">
        update friends
        set remark = #{remark}
        where friendId = #{friendId} and userId =#{uid}
    </update>
    <select id="checkCode" resultType="com.company.domain.User">
        select id,username
        from `user`
        where phone = #{phone}
    </select>



</mapper>