<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.company.dao.FileMapper">
    <resultMap id="BaseResultMap" type="com.company.vo.FileVo">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="md5" property="md5"/>
        <result column="path" property="path"/>
        <result column="upload_time" property="uploadTime"/>
        <result column="absolutePath" property="absolutePath"/>
        <result column="parentPath" property="parentPath"/>
        <result column="uid" property="uid"/>
        <result column="url" property="url"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,md5,path,upload_time,absolutePath,parentPath,url,uid
    </sql>

    <select id="getById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from file
        where uid = #{id} and parentPath = #{path}
    </select>

    <insert id="save" keyProperty="id" useGeneratedKeys="true">
        insert into file(name,md5,path,upload_time,absolutePath,parentPath,url,uid)
        values(#{name},#{md5},#{path},#{uploadTime},#{absolutePath},#{parentPath},#{url},#{uid})
    </insert>

    <update id="update">
        <if test="id != null">
            update fileVo
            <set>
                <if test="name != null">
                    name = #{name},
                </if>
                <if test="md5 != null">
                    md5 = #{md5},
                </if>
                <if test="path != null">
                    path = #{path},
                </if>
                <if test="uploadTime != null">
                    upload_time = #{uploadTime},
                </if>
            </set>
            where id = #{id}
        </if>
    </update>

    <delete id="deleteById">
        delete from file where id = #{id}
    </delete>
    <delete id="deleteData">
        delete from file
        where uid = #{uid}
        <if test="isFolder">
            and parentPath = #{path} or name = #{path}
        </if>
        <if test="!isFolder">
            and path = #{path}
        </if>

    </delete>

    <select id="getByFile" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from file
        <where>
            <if test="id != null">
                id = #{id}
            </if>
            <if test="name != null">
                and name = #{name}
            </if>
            <if test="md5 != null">
                and md5 = #{md5}
            </if>
            <if test="path != null">
                and path = #{path}
            </if>
            <if test="uid != null">
                and uid = #{uid}
            </if>
        </where>
    </select>

    <select id="findFileByType" resultMap="BaseResultMap">
        select  <include refid="Base_Column_List"/>
        from file
        <where>
            <if test="flag">
                 path like #{path} and name NOT REGEXP #{regex} and uid = #{userId}
            </if>
            <if test="!flag">
                 path like #{path} and name REGEXP #{regex} and uid = #{userId}
            </if>
        </where>

    </select>

    <select id="findByKey" resultMap="BaseResultMap">
        select  <include refid="Base_Column_List"/>
        from file
        where name like  #{key} and uid = #{userId}
    </select>
</mapper>